{% extends "base.html" %}

{% block content %}
<center>
    <h1>404: FileNotFound Error</h1>
    <image src="{{ url_for('static',filename='giphy.gif')}}"/>
    <p font-variant:small-caps>Working on this, I got sooooooooo many errors, so I spent a bit of time making this page look nice.</p>
    <hint>If you found this page, go to the Connect tab above and email alvai.naqvi.08@gmail.com to get a custom gif</hint>
    <p font-variant:small-caps>happy hacking everyone! and please upvote this if you liked my project :D</p>
    
</center>
</body>
</html>
{% endblock %}