{% extends "base.html" %}

{% block content %}
<center>
    <h1>Connecting with your Teacher</h1>
    <p font-variant:small-caps>Not happy with your grade? Need extra accomodations? Your teachers and councelors are here to help.</p>
        <br>
</center>
<form  method="POST">
    {{ form.hidden_tag() }}
    {{ form.addTo.label }} {{form.addTo}}
    <br>
    {{ form.sub.label}} {{form.sub}}
    <br>
    {{form.message.label}}{{form.message}}
   <br>
    {{ form.submit() }}
</form>
</body>
</html>
{% endblock %}