{% extends "base.html" %}

{% block content %}
<center>
    <h1>Connecting with Dyslexia</h1>
    <p font-variant:small-caps>Hi, I'm Alvia Naqvi. This is the submission for my StarHacks submission. My aim was to make the most ADHD friendly font more easily accessible to people who need it.<br>
        The pages that are currently working include: Home, Image to Text, Grade Calculator</p>
        <hint>Want to see something cool? Try to find the little button!</hint>
        <br><br>
        <lis float=center><a href="/404error">shhh!</a></lis>
        <br>
        <iframe width="50%" height="50%" src="https://www.youtube.com/embed/F9SxijF8VRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
</center>
</body>
</html>
{% endblock %}